// Colors
$black-gray: #313131;
$gray: #9b9b9b;
$gray-light: #f6f6f6;
$gray-lighter: #fff7ea;
$yellow: #f9b256;
$green: #82d945;
$red: #f66577;
$green-blue: #32b7a0;
$purple: #815fe8;
$yellow: #ffce22;
$pink: #f665cf;


// Type sizes
$base-font: 16px;
$base-font-small: 14px;

// Breakpoints
$large: 960px;
$small: 40em;
$medium: 680px;

